body{
    font-family: "Inter", serif;
}
.fix{
    position: fixed;
    background-color: white;
}
.header{
    margin-top: 0px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    box-shadow: 0 1px 0 rgba(151, 151, 151, 0.15);
    padding-bottom: 7px;
}
.left-section{
    display: flex;
    align-items: center;
}

.header_logo{
    width: 130px;
}

.right-section{
    margin-left: 450px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1fr;
}

.Signup, .About, .Signup, .products, .Pricing, .Support, .hamburger-menu{
    padding-left: 47px;
    color: #666666;
    font-size: 14px;
    font-family: "Inter", serif;
    transition: color 0.2s;
}
.hamburger-menu{
    height: 23px;
}

.Signup:hover, .About:hover, .Signup:hover, .products:hover, .Pricing:hover, .Support:hover, .hamburger-menu:hover{
    color: rgb(87, 124, 218);
    cursor: pointer;
}

.middle-image{
    width: 750px;
    margin-top: 70px;
    padding-top: 60px;
    margin-bottom: 60px;
}

.maintext{
    font-size: 44px;
    color: #424242;
    font-weight: 500;
    margin: 0;
}

.subtext{
    font-size: 20px;
    margin-top: 20px;

}

.Signup-btn{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 530;
    height: 45px;
    width: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    transition: background-color 0.15s;
    cursor: pointer;
    margin-bottom: 1000px;
}

.Signup-btn:hover{
    background-color: black;
}